/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #c4c4c4 #f1f1f1; /* Thumb and track colors */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c4c4c4; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Thumb color on hover */
}
